
/* Your CSS Code here. */

#btn{
	data-ns-test:block-inline-button;
}
#d1{
	data-ns-test:block-inline-div;
}
#s1{
	data-ns-test:block-inline-span;
}
#p1{
	data-ns-test:block-inline-p;
}
#i1{
	data-ns-test:block-inline-input;
}
#c1{
	data-ns-test:block-inline-cite;
}
#c2{
	data-ns-test:block-inline-code;
}
#h1{
	data-ns-test:block-inline-h1;
}
#s2{
	data-ns-test:block-inline-sup;
}
#s2{
	data-ns-test:block-inline-sub;
}